<html>

<head>
    <title>About Page</title>
    <link rel='icon' href="img/weather.png">
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <div class='main-content'>
        {{>header}}
        <img src="img/photo-1518806118471-f28b20a1d79d.jpg" class="i">
    </div>
    {{>footer}}
</body>

</html>